body {
    background-image: url("/assets/Background.jpg");
    background-attachment: fixed;
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #fffce4
}

h2 {
    margin-left: 1.5%;
    color: #fffce4
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.825rem;
    margin: 1.3rem 0;
    margin-top: 8px;
    color:  #c7c7c7
}

p {
    color: #999999;
    font-size: 0.9rem;
    margin: 1rem 0;
    line-height: 1.5;
}

a {
    color: #6a6a6a;
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.20s;
}
a:hover {
    color: white
}

* {
    font-family: 'Poppins', sans-serif;
}

.home-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.wrapper {
    /* Opacity Start */
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    /* Opacity End */

    text-align: center;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: red;
}

footer {
    font-size: 0.9rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}